body {
  background-image: linear-gradient(to bottom, rgba(166, 132, 211, 0.52), rgba(182, 211, 128, 0.52)),
    url("../assets/images/poker-1.png");
    background-size: 100% !important;
  background-size: cover;
  max-height: 100vh !important;
}
.card {
  max-width: 50%;
  margin: 10% auto;
  padding: 4em;
}

.btn {
  margin-top: 2em;
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: rgb(116, 116, 116);
  color: white;
  min-width: 50px;
  text-align: center;
}

.btn-default {
  margin-left: 1em;
}

.forgot {
    color: green;
    text-align: center;
    background: transparent;
    border:0;
}
.forgot a {
    color: green;
}

.forgot:focus, .forgot:active button {
    outline: 0;
}


footer {
    height: 2em;
    background-color: azure;
    width: 90%;
    margin: 0 5%;
    margin-top: 15em;
    border-radius: 8px;
}
footer p {
    padding-top: 4px;
    margin-left: 2em;
}