* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding:0;
    margin: 0;
    block-size: border-box;
}
body {
    background-image: url("/assets/images/poker-background.png");
    background-size: 100% !important;
    background-size: cover;
  }
.logo {
    margin: 0;
    padding: 0;
 
  }
  
  .notification {
    margin: 0;
    padding: 0;
 
    background-color: #cecece;
  }
  
  .notification-row {
    margin: 0;
    padding: 0;
 
    border-bottom: 1px solid #868686;
  }
  
  .notif {
   
    color: #868686;
    margin-left: auto;
    margin-right: 1em;
  }
  
  .notif .fa-bell {
    padding-left: 0.5em;
    padding-top: 0.5em;
  }
  
  .notif-name {
    margin-left: 1em;
  }
  
  .month {
    margin-left: 1em;
  }
   
  .stats-list li {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    color: #616161;
    font-size: 12px;
    padding-left: 0.25em;
    padding-right: 0.25em;
  }
  
  .stats-list li button {
    padding: 0;
    margin: 0;
    background-color: green;
    color: #fff;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 2em;
  }

  .nav-pills-row {
    margin: 0;
    padding: 0;
  }
  
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: #fff;
    background-color: green;
  }
  
  #pills-tab {
    padding: 0;
    margin: 0;
    margin-top: 1em;
    width: 100%;
    background-color: #e9e9e9;
    border-radius: 4px;
  }
  
  .profile-btn {
    margin-left: auto;
    margin-right: 0;
  }
  
  .logout-btn {
    margin-right: 0;
  }
  
  .tab-content-container {
    background-color: #e9e9e9;
  }
  
  .stats-row {
    padding-top: 1em;
    min-height: 10em;
    background-color: transparent;
    text-align: center;
  }
  
  .stats-row > div {
    padding-top: 2em;
    background-color: #f8f8f8;
    border: 1px solid #d3d3d3;
    min-height: 5em;
    border-radius: 3px;
  }
  
  .span-class {
    font-size: 12px;
    margin-bottom: -1em;
  }
  .box {
    padding: 0 !important;
    font-size: 12px;
    margin-top: 1em;
    background-color: #f8f8f8;
    border: 1px solid #d3d3d3;
  }
  
  .profit {
    padding-top: 0 !important;
  }
  
  .profit .box {
    margin-top: 1.5em;
  }
  