<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>
        Affiliate
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./home.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="home.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="row">
        <div class="logo"></div>
        <div class="notification">
            <div class="row notification-row">
               <p class="notif-name"> Hi, <b> {{company.name}} </b></span></p>
                <span class="notif"><i class="fa fa-bell" aria-hidden="true"></i></span>
            </div>
            <div class="row month">
                Your {{month}} stats
            </div>
            <div class="row">
                <ul class="stats-list">
                    <li>Clicks <br> 0</li>
                    <li>Sign Ups <br> 0</li>
                    <li>FTD <br> 0</li>
                    <li>CPA <br> 0</li>
                    <li>Profit <br> &dollar;  0</li>
                    <li><button class="btn">Details</button></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row nav-pills-row">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="pills-stats-tab" data-toggle="pill" href="#pills-stats" role="tab" aria-controls="pills-stats" aria-selected="false">Stats</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="pills-campaign-tab" data-toggle="pill" href="#pills-campaign" role="tab" aria-controls="pills-campaign" aria-selected="false">Campaigns</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" id="pills-deals-tab" data-toggle="pill" href="#pills-deals" role="tab" aria-controls="pills-deals" aria-selected="false">Deals</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" id="pills-news-tab" data-toggle="pill" href="#pills-news" role="tab" aria-controls="pills-news" aria-selected="false">News</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" id="pills-payment-tab" data-toggle="pill" href="#pills-payment" role="tab" aria-controls="pills-payment" aria-selected="false">Payments</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" id="pills-promotions-tab" data-toggle="pill" href="#pills-promotions" role="tab" aria-controls="pills-promotions" aria-selected="false">Promotions</a>
                    </li>
                    <!-- <li class="nav-item">
                            <a class="nav-link" id="pills-missions-tab" data-toggle="pill" href="#pills-missions" role="tab" aria-controls="pills-missions" aria-selected="false">Missions</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" id="pills-refer-a-friend-tab" data-toggle="pill" href="#pills-refer-a-friend" role="tab" aria-controls="pills-refer-a-friend" aria-selected="false">Refer a Friend</a>
                    </li> -->
                    <li class="nav-item float-lg-right float-right profile-btn">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
                    </li>
                    <li class="nav-item float-lg-right float-right logout-btn">
                            <a class="nav-link" id="pills-logout-tab" data-toggle="pill" href="#pills-logout" role="tab" aria-controls="pills-logout" onClick="logout()" aria-selected="false">Logout</a>
                    </li>
                  </ul>
                </div>
                <div class="container tab-content-container">
                  <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <div class="container">
                            <div class="row stats-row">
                                <div class="col-md-2">0
                                    <div class="box">Clicks</div>
                                </div>
                                <div class="col-md-2">0
                                        <div class="box">Signups</div>
                                </div>
                                <div class="col-md-2">0
                                        <div class="box">FTD</div>
                                </div>
                                <div class="col-md-2">0
                                        <div class="box">CPA</div>
                                </div>
                                <div class="col-md-2">0%
                                        <div class="box">Signup to deposit</div>
                                </div>
                                <div class="col-md-2 profit"> &euro; 0<br>
                                        <span class="span-class">&euro; Avg per day</span>
                                        <div class="box">Profit</div>
                                </div>
                            </div>
                            <div class="row icon-row">
                                <div class="col-md-2">
                                        <img class="tap" src="../assets/icons/tap.svg" height="25" width="25" alt="Tap">
                                </div>
                                <div class="col-md-2">
                                        <img class="icons" src="../assets/icons/list.svg" height="25" width="25" alt="List">
                                </div>
                                <div class="col-md-2">
                                        <img class="icons" src="../assets/icons/credit-card.svg" height="25" width="25" alt="FTD">
                                </div>
                                <div class="col-md-2">
                                        <img class="icons" src="../assets/icons/visiting-card.svg" height="25" width="25" alt="CPA">
                                </div>
                                <div class="col-md-2">
                                        <img class="icons" src="../assets/icons/double-angle-pointing-to-right.svg" height="20" width="20" alt="Right">
                                </div>
                                <div class="col-md-2">
                                        <img class="icons" src="../assets/icons/funds.svg" height="25" width="25" alt="Cash">
                                </div>
                            </div>
                        </div>
                        <div class="container wrapper-container">
                            <div class="col-md-8">
                                <div class="card section-1">
                                    <div class="row">
                                    <img class="section_img" src="../assets/images/stats.png" height="40" width="40" alt="Stats">
                                    <span class="text-img"> Recent Earning</span>
                                    <button class="btn btn-default show_loss">Show Losses</button>
                                </div>
                                </div>
                                <div class="card section-2">
                                        <div class="row">
                                        <img class="section_img" src="../assets/images/pie-chart.png" height="40" width="40" alt="Stats">
                                        <span class="text-img"> Statistics Breakdown</span>
                                        <div class="dropdown">
                                                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                  Clicks
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                  <a class="dropdown-item" href="#">Signups</a>
                                                  <a class="dropdown-item" href="#">FTD</a>
                                                  <a class="dropdown-item" href="#">Profits</a>
                                                </div>
                                              </div>
                                        <div class="dropdown">
                                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Months
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">August</a>
                                                <a class="dropdown-item" href="#">July</a>
                                                <a class="dropdown-item" href="#">June</a>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="card section-3">
                                            <div class="row">
                                            <img class="section_img" src="../assets/images/bar-graph.jpg" height="40" width="40" alt="Stats">
                                            <span class="text-img"> Past Month Stats</span>
                                            <div class="dropdown">
                                                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                      Profit
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                      <a class="dropdown-item" href="#">Profit</a>
                                                      <a class="dropdown-item" href="#">Clicks</a>
                                                    </div>
                                                  </div>
                                        </div>
                                        </div>
                                        <div class="card section-4">
                                                <div class="row">
                                                <img class="section_img" src="../assets/images/bar-graph.jpg" height="40" width="40" alt="Stats">
                                                <span class="text-img">This Months Competition</span>
                                                <div class="container">
                                                <img class="competition" src="../assets/images/mrgreen.jpg" alt="Competions">
                                                <button class="btn btn-default btn-md competition-container">See Recent Competitions</button>
                                            </div>
                                            
                                            </div>
                                            </div>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                        <footer>

                        </footer>
                    </div>
                    <div class="tab-pane fade" id="pills-stats" role="tabpanel" aria-labelledby="pills-stats-tab">Tab-2</div>
                    <div class="tab-pane fade" id="pills-campaign" role="tabpanel" aria-labelledby="pills-campaign-tab">Tab-3</div>
                    <div class="tab-pane fade" id="pills-deals" role="tabpanel" aria-labelledby="pills-deals-tab">Tab-4</div>
                    <div class="tab-pane fade" id="pills-news" role="tabpanel" aria-labelledby="pills-news-tab">Tab-5</div>
                    <div class="tab-pane fade" id="pills-payment" role="tabpanel" aria-labelledby="pills-payment-tab">Tab-6</div>
                    <div class="tab-pane fade" id="pills-promotions" role="tabpanel" aria-labelledby="pills-promotions-tab">Tab-7</div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">Tab-8</div>
                  </div>
                </div>
    </div>
</div>
</body>
</html>