html {
    height: 100%;
  }
  body {
    background-image: url("/assets/images/poker-background.png");
    background-size: 100% !important;
    background-size: cover;
  }

  .clearfix {
    display: block;
    content: "";
    clear: both;
  }
  .card {
    border-radius: 4px;
  }
  .container,
  .container-fluid {
    border-radius: 4px;
  }

  /* Body content begins here */
  /* Header content begins */
  .wrapper {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    max-width: 100%;
    margin: 0 10%;
    background: linear-gradient(to bottom rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.8));
    margin-bottom: 4em;
    border-radius: 4px;
  }

  .logo {
    margin: 0;
    padding: 0;
    min-height: 15vh;
    min-width: 70%;
  }

  .notification {
    margin: 0;
    padding: 0;
    min-height: 15vh;
    min-width: 30%;
    background-color: #cecece;
  }

  .notification-row {
    margin: 0;
    padding: 0;
    min-height: 4vh;
    border-bottom: 1px solid #868686;
  }

  .notif {
    height: 30px;
    width: 30px;
    color: #868686;
    margin-left: auto;
    margin-right: 1em;
  }

  .notif .fa-bell {
    padding-left: 0.5em;
    padding-top: 0.5em;
  }

  .notif-name {
    margin-left: 1em;
  }

  .month {
    margin-left: 1em;
  }

  .stats-list {
    font-size: 12px;
    padding-top: 1em;
  }

  .stats-list li {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    color: #616161;
    padding-left: 0.25em;
    padding-right: 0.25em;
  }

  .stats-list li button {
    padding: 0;
    margin: 0;
    background-color: green;
    color: #fff;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 2em;
  }

  /* Header content with notification ends here */

  .container-fluid {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .nav-pills-row {
    margin: 0;
    padding: 0;
  }

  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: #fff;
    background-color: green;
  }

  #pills-tab {
    padding: 0;
    margin: 0;
    margin-top: 1em;
    width: 100%;
    background-color: #e9e9e9;
    border-radius: 4px;
  }

  .profile-btn {
    margin-left: auto;
    margin-right: 0;
  }

  .logout-btn {
    margin-right: 0;
  }

  .tab-content-container {
    background-color: #e9e9e9;
  }

  .stats-row {
    padding-top: 1em;
    min-height: 10em;
    background-color: transparent;
    text-align: center;
  }

  .stats-row > div {
    padding-top: 2em;
    background-color: #f8f8f8;
    border: 1px solid #d3d3d3;
    min-height: 5em;
    border-radius: 3px;
  }

  .span-class {
    font-size: 12px;
    margin-bottom: -1em;
  }
  .box {
    padding: 0 !important;
    font-size: 12px;
    margin-top: 1em;
    background-color: #f8f8f8;
    border: 1px solid #d3d3d3;
  }

  .profit {
    padding-top: 0 !important;
  }

  .profit .box {
    margin-top: 1.5em;
  }

  .icon-row {
    width: 100%;
    padding: 0;
    margin: 0;
    min-height: 3em;
    margin-top: -4em;
    background-color: #e2e2e2;
    text-align: center;
    border: 1px solid #d3d3d3;
  }

  .tap {
    margin-top: 1em;
    transform: rotate(45deg);
    opacity: 0.6;
  }

  .icons {
    margin-top: 1em;
    color: #252525;
    opacity: 0.6;
  }

  .wrapper-container {
    margin-top: 2em;
  }

  .section-1 {
    box-shadow: 1px 1px #d4d4d4;
  }

  .section_img {
    margin-left: 1em;
    padding-top: 8px;
    padding-left: 8px;
  }

  .text-img {
    margin-top: 0.5em;
    padding-left: 0.5em;
    font-size: 18px;
  }

  .show_loss {
    font-size: 12px;
    height: 24px;
    border-radius: 2px;
    padding: 0 !important;
    margin-left: auto;
    margin-right: 2em;
    border: 1px solid #cecece;
    margin-top: 4px;
    padding-left: 4px !important;
    padding-right: 4px !important;
  }

  .section-2,
  .section-3,
  .section-4 {
    margin-top: 1em;
    min-height: 50vh;
    box-shadow: 1px 1px #d4d4d4;
  }

  .section-4 {
    margin-bottom: 1em;
  }

  .dropdown {
    margin-left: 3em;
    background-color: #fff;
    height: 24px !important;
    padding-top: 4px;
  }

  .competition {
    min-width: 100%;
    max-height: 35vh;
    margin-top: 1em;
    padding: 1em;
  }

  .competition-container {
    margin-left: 1em;
  }
  .leaderboard {
    max-height: 17.8vh;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid #a1a1a1;
    border-radius: 3px;
  }

  .leaderboard img {
    max-height: 17.8vh;
    width: auto;
    display: block;
    margin: 0;
    padding: 0;
  }
  .leaders {
    width: 100%;
    background-color: #f0f0f0;
    height: auto;
    margin: 0;
    padding: 0;
    border: 1px solid #a1a1a1;
    border-top: 0;
    border-radius: 3px;
    margin-top: -2px;
  }

  .leader-board li {
    list-style-type: none;
    display: inline-block;
  }

  .gold,
  .silver,
  .bronze {
    border-right: 1px solid #a1a1a1;
    padding-right: 2em;
    padding-left: 1em;
    margin-top: 0.5em;
  }

  .gold {
    margin-left: -1.5em;
  }

  .your-place {
    color: #999999;
    font-size: 12px;
  }

  .bannerboard {
    min-width: 100%;
    min-height: 10vh;
    margin-top: 3.5em;
    border-radius: 4px;
  }

  .bannerboard img {
    min-width: 100%;
    min-height: 10vh;
    border-radius: 4px;
  }
  .advboard {
    min-height: 10vh;
    border-radius: 4px;
  }

  .advboard img {
    min-width: 100%;
    min-height: 10vh;
    margin-top: 0.5em;
    border-radius: 4px;
  }

  .prizeboard {
    min-height: 10vh;
    border-radius: 4px;
  }

  .prizeboard img {
    min-width: 100%;
    min-height: 10vh;
    margin-top: 0.5em;
    border-radius: 4px;
  }

  .managerboard {
    height: 25vh;
    width: 100%;
    margin-top: 0.5em;
  }

  .manager-name {
    padding-top: 1em;
    padding-left: 2em;
  }
  .text-manager {
    margin-top: 0.5em;
    padding-left: 1em;
    font-size: 14px;
  }

  .payment-card {
    height: 15vh;
    width: 100%;
    margin-top: 0.5em;
  }

  .payment-btn {
    padding: 0;
    margin: 0;
    background-color: green;
    color: #fff;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: 1.5em;
    border: 0;
  }

  /* Home Pill ends */

  /* Stats Pill begin */
  .statistic-container {
    min-height: 65vh;
    padding-top: 1em;
    margin-bottom: 2em;
    border-radius: 4px;
  }

  .time-card {
    min-height: 15vh;
    margin-bottom: 1em;
  }

  .calendar-container {
    border-right: 1px solid #999999;
  }
  .statistic-container .card {
    padding-top: 1em;
    padding-left: 2em;
  }

  input[type="date"]::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
  }

  #today_date,
  #previous_date {
    margin-right: 1em;
    margin-left: 1em;
    border: 1px solid #cecece;
  }

  .months {
    padding: 0;
    font-size: 12px;
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .time-period {
    margin-top: 1em;
  }

  .table-card {
    margin-top: 1em;
    margin-bottom: 2em;
  }

  .search {
    margin-bottom: 1em;
  }

  .payout-table {
    border: 1px solid #cecece;
    margin-bottom: 1em;
    margin-left: -1em;
    margin-right: 1em;
    font-size: 12px;
    border-radius: 3px;
  }

  .payout-table th {
    text-align: center;
    border: 1px solid #979797;
    background-color: #ebebeb;
  }
  .payout-table td {
    text-align: center;
    border: 1px solid #979797;
  }
  /* Stats pill end */

  /* Campain Pill begins */

  .campaign-card {
    height: 15vh;
    border-radius: 4px;
  }

  .campaign-card .container {
    padding-top: 1em;
  }

  /* Campaign Pill ends here */

  /* Campaign deals begin here */

  #pills-deals, #pills-campaign {
    min-height: 90vh;
  }

  .deals-card {
    border-radius: 4px;
  }

  .deals-card .container {
    padding-top: 1em;
  }

  .radio-class {
    margin-top: 1em;
  }

  .deal-type {
    padding-top: 1.5em;
    padding-right: 1.5em;
    margin-left: 1em;
  }

  .deals-search {
    margin-bottom: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
  }

  .label-deal {
    margin-left: 2em;
    margin-top: 1em;
    padding-right: 1.5em;
  }

  .label-deal input {
    margin-left: 2.75em;
  }

  .deal-container {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .deal-btn {
    margin-top: 1em;
  }

  .btn-deals {
    margin: auto;
    display: block;
    background-color: #007bff;
    border: 0;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 4px;
    color: #fff;
  }
  .deal-card {
    border: 1px solid #cecece;
  }

  .btn-details {
    margin: auto;
    display: block;
    background-color: #dddddd;
    border: 0;
    padding-left: 3.5em;
    padding-right: 3.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border-radius: 4px;
    color: #505050;
    margin-top: 0.25em;
  }

  #Modal-1 table,
  #Modal-2 table,
  #Modal-3 table,
  #Modal-4 table {
    width: 90%;
    margin: 0 5%;
    border-radius: 6px;
    text-align: justify;
    margin-bottom: 2em;
    background-color: whitesmoke;
    border: 1px solid rgb(207, 207, 207);
  }

  #Modal-1 table tr,
  #Modal-2 table tr,
  #Modal-3 table tr,
  #Modal-4 table tr {

    margin: 1em;
  }

  #Modal-1 table tr td,
  #Modal-2 table tr td,
  #Modal-3 table tr td,
  #Modal-4 table tr td {
    padding: 1em;
    width: 50% !important;
    border: 1px solid #fff;
  }
   
  #Modal-1 table input[type="text"]:disabled,
  #Modal-2 table input[type="text"]:disabled,
  #Modal-3 table input[type="text"]:disabled,
  #Modal-4 table input[type="text"]:disabled {
    background: #f5f5f5;
  }

  /* Campaign deals end here */

  /* Payment Style begins here */
  .payment-tab .container {
    padding-top: 2em;
  }

  .payment-table {
    border: 1px solid #cecece;
    margin-bottom: 1em;
    font-size: 12px;
    border-radius: 3px;
    margin-left: 2em;
    margin-right: 2em;
  }

  .payment-table th {
    text-align: center;
    border: 1px solid #979797;
    background-color: #ebebeb;
  }
  .payment-table td {
    text-align: center;
    border: 1px solid #979797;
  }

  /* Payment style ends here */


  /* Promotion Begins here */

  /* #promotions {} */

  .promotion-card {
      min-height: 50vh;
      height: auto;
      padding-bottom: 2em;
  }


  .campaignboard .leaders {
      width: auto;
      margin: 0 2%;
      background-color: #0a0a0a;
      color: rgb(238, 227, 227);
      height: auto;
      border: 1px solid #222222;
      border-top: 0;
      border-radius: 0 !important;
      margin-top: -1em !important;
      margin-left: 1em !important;
    }


  /* Promotion Ends here */

  /* Personal Information page begins here */

  #pills-profile {
    min-height: 60vh;
  }

  #account_info table,
  #contact_info table,
  #account_number table,
  .payment-info table {
    margin-top: 2em;
    width: 80%;
  }

  .user-info-1 {
    margin-left: 2em;
    margin-bottom: 2em;
  }

  .user-info-1 tr {
    width: 90%;
    border: 1px solid #cecece;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .user-info-1 td {
    width: 50%;
    border: 1px solid #cecece;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .general {
    background-color: #ebebeb;
  }

  .payment-dropdown {
    padding: 0;
    margin: 0;
    margin-top: -4px;
  }
  .payment-dropdown button {
    padding: 0;
    background-color: #fff;
  }

  .small_text {
    font-size: 12px;
  }

  /* Slider switch begins */
  .switch {
    margin-left: 1em;
    margin-top: 0.5em;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 22px;
    left: 1px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: #2196f3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  /* Slider switch ends */

  /* Footer begins */

  footer {
    margin-top: -2em;
    background-color: #cecece;
    height: 2em;
    color: #000;
    text-align: center;
  }
